
//
// VARIABLES
//
//
// Colors
$blue: #4183C4;
$brightgreen: #3df72a;
// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$blackshade: #0E1924;
$paragraphTxt: #fbfaffbf;
$yellow: #FFC670;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
